body {
    background-color: antiquewhite;
}

.grey-bg {
    background-color: rgb(192, 192, 192);
}

#tribute-info {
    background-color: honeydew;
    margin: 1% 20% 5% 20%;
}

.full-width {
    width: 100%;
    margin: 0px 0px 0px 0px;

}

#image {
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.center{
    text-align: center;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}

ul {
    text-align: left;
}
